@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: #136f63;
}
::-webkit-scrollbar-track {
  background: #94fbab;
}
